ion-content {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 50%;
    margin: 0 auto;
    margin-top: 0;
    margin-left: 0;
  }

  ion-menu-button {
    color: var(--ion-color-primary);
  }